<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>İterasyon Gosterim</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Yas</th>
            <th>Ozellik1</th>
            <th>Ozellik2</th>
            <th>Ozellik3</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ogr, ogrOzellik : ${ogrenciiter}">
            <strong>
                <td th:text="${ogr.ad}"></td>
            </strong>
            <strong>
                <td th:text="${ogr.soyad}"></td>
            </strong>
            <strong>
                <td th:text="${ogr.yas}"></td>
            </strong>
            <strong>
                <td th:text="${ogrOzellik.count}"></td>
            </strong>
            <strong>
                <td th:text="${ogrOzellik.size}"></td>
            </strong>
            <strong>
                <td th:text="${ogrOzellik.index}"></td>
            </strong>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>